d3d12demo/d3d12demo.VC.db
d3d12demo/demo1/x64/
*.pdb
d3d12demo/x64/Debug/demo1.ilk
d3d12demo/x64/
d3d12demo/.vs/d3d12demo/v14/.suo
d3d12demo/d3d12demo.VC.VC.opendb
d3d12demo/demo2/x64/
d3d12demo/demo2-color/
d3d12demo/demo2-sq/
d3d12demo/demo3/x64/
d3d12demo/demo3/demo3.vcxproj.filters
*.cso
d3d12demo/d3d11demo1/x64/
d3d12demo/d3d11demo1/d3d11demo1.vcxproj.filters
d3d12demo/d3d11demo2/d3d11demo2.vcxproj.filters
d3d12demo/d3d11demo2/x64/
d3d12demo/d3d11demo2-sq/
